body
{
	/*font-family: DJB Almost Perfect;*/
	/*font-family: KG Miss Speechy IPA;*/
	font-family: Redressed;
	
}

h1, h2, h3, h4
{
	color:#5E2A07;
}

.content h1
{
	color:#5E2A07;
}

.btn-edited
{
	border-radius: 0px;
	background:orange;
	border: solid 1px yellow;
}
.btn-edited:hover {
	background: none;
}
.thumbnail-edited
{
	padding:0px;
	border:none;
	border-radius:0px;
}
img.thumbnail-edited
{
	height:400px;
}

.img-logo
{
	margin-top:-34px;
	margin-bottom:-35px;
	height:90px;
	width:80px;
}
.caption-edited
{
	color:black;
}

p 
{
	color:black;
	font-size: 1.8em;
	font-family: Redressed;
	line-height: 1.3em;
}
p.text{
	font-size: 1.5em;
	font-weight: 400;
}
p.highlight{
	font-weight: 700;
}
body > div > div.container > div:nth-child(2) > ul > li.span8 > div > div > img{
	max-height: 50%;
	max-width: 50%;
	padding-right: 15px;
}
/*
img
{
	width:100%;
	height:100%;
}
*/
.btn-spiritual
{
	background: none;
	border:none;
	color:black;
}
.btn-spiritual:hover
{
	color:#664466;
	background:none;
}
